{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h3>IT Guild Event Details</h3>
<hr>

<div class="row">
  <div class="col-2">
    <img src = "{{ event.icon.url }}" class="img=fluid" width="200" />
  </div>
  <div class="col-8">
    <a href="{{ event.url}}"><h1>{{ event.title }}</h1></a>
  </div>
</div>

<div class="row">
  <div class="col-4">
    Start date: <i> {{ event.start_date_pretty }}</i>
  </div>
</div>

<div class="row">
  <div class="col-4">
    End date: <i> {{ event.end_date_pretty }}</i>
  </div>
</div>

<p>

  <div class="row">
    <div class="col-4">
      Where: <b>{{ event.place }}</b>
    </div>
  </div>

<p>

<div class="row">
  <div class="col-4">
    Organizer: {{ event.author.username }}
  </div>
</div>

<div class="row pt-2">
  <div class="col-8">
    <img src = "{{ event.image.url }}" class="img=fluid" width=600 />
  </div>
</div>
<p>
<div class="row pt-4">
  <div class="col-8">
    <b>Full description:</b>
    <p>{{ event.body }}</p>
  </div>
</div>

<p>
<i>Added by {{ event.author.username }} at {{ event.pub_date_pretty }}</i>

{% endblock %}
