{% extends 'base.html' %}
{% load staticfiles %}
<head>
  <meta charset="utf-8">

  <title>Your profile</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Antons Starostins">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>


{% block content %}

<h1>Your profile</h1>

To become a member of our guild, please download the registration form and follow the instructions:<p><br>
<a href="http://techriga.lv/itg/itguild_registration.docx" about="_blank">*** IT GUILD REGISTRATION ***</a>
  <p><br>

Please ask more questions @ <a href="mailto:info@itguild.lv">INFO CENTER</a>

{% endblock %}

  <script src="js/scripts.js"></script>
</body>
</html>
