<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="http://techriga.lv/css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Amita|B612+Mono|Berkshire+Swash|Charmonman|Felipa|Fondamento|Italianno|Pinyon+Script|Roboto+Mono|Share+Tech+Mono" rel="stylesheet">
    <title>IT Guild</title>



  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='{% url 'home' %}'>
            IT Guild
          </a>
        </div>
        <div class="collapse navbar-collapse" id="mynav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'posts:manifesto' %}">Manifest</a></li>
          <li><a href="{% url 'posts:rss' %}">IT World News</a></li>
          <li><a href="{% url 'posts:team' %}">Team</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
          <li><a href="#" onClick="document.getElementById('logout').submit()">Log out</a></li>
          <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
              {% csrf_token %}
            <input type="hidden">
          </form>
          {% else %}
          <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
          <li><a href="{% url 'accounts:login' %}">Log in</a></li>
          {% endif %}

        </ul>
      </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
    <br><br>
    <hr>
    <center>(c) ARODBIEDRĪBA IT GUILD 2019. Reg.Nr. 40008284811.</center><p>
      <center>Developed on django/python tech.</center>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
