<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="http://techriga.lv/css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Amita|B612+Mono|Berkshire+Swash|Charmonman|Felipa|Fondamento|Italianno|Pinyon+Script|Roboto+Mono|Share+Tech+Mono" rel="stylesheet">
    <title>IT Guild</title>



  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='{% url 'home' %}'>
            IT Guild
          </a>
        </div>
        <div class="collapse navbar-collapse" id="mynav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'posts:manifesto' %}">Manifest</a></li>
          <li><a href="{% url 'posts:rss' %}">IT World News</a></li>
          <li><a href="{% url 'posts:team' %}">Team</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
          <li><a href="#" onClick="document.getElementById('logout').submit()">Log out</a></li>
          <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
              {% csrf_token %}
            <input type="hidden">
          </form>
          {% else %}
          <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
          <li><a href="{% url 'accounts:login' %}">Log in</a></li>
          {% endif %}

        </ul>
      </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
    <br><br>

<div class="row">
  <div class="col-xs-12 col-md-4">

<!--Zoho Campaigns Web-Optin Form's Header Code Starts Here-->

<meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<script type="text/javascript" src="https://zpub.maillist-manage.com/js/optin.min.js" onload="setupSF('sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14','ZCFORMVIEW',false,'light')"></script>
<script type="text/javascript">
	function runOnFormSubmit_sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14(th){
		/*Before submit, if you want to trigger your event, "include your code here"*/
	};
</script>

<style>
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 .quickFormHorizontal [name=SIGNUP_SUBMIT_BUTTON]{
white-space: normal !important;
}
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 #customForm *{
-webkit-box-sizing: border-box !important;
-moz-box-sizing: border-box !important;
box-sizing: border-box !important;
word-break:break-word;
overflow-wrap: break-word;
}
/*** RESPONSIVE START */
@media only screen and (max-width: 200px){
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 #SIGNUP_BODY{
max-idth:200px !important;
margin: 0px auto !important;
}
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 #SIGNUP_PAGE{
padding:0px !important
}
}
/*Major Mobiles*/
@media screen and (min-width: 320px) and (max-width: 580px) and (orientation : portrait){
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 [name='SIGNUP_BODY']{
max-width:100% !important;
margin: 0px auto !important;
}
}
/* iPads*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 [name='SIGNUP_BODY']{
max-width:760px !important;
margin: 0px auto !important;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 [name='SIGNUP_BODY']{
width:1016px !important;
max-width:1016px !important;
margin: 0px auto !important;
}
}
@media screen and (min-width: 475px) and (max-width: 980px) and (orientation : landscape){
#sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14 #SIGNUP_PAGE{
max-width:100% !important;
padding:0px !important;
}
}
/*** RESPONSIVE END */
.quick_form_9_css form{padding-top:10px}
</style>

<!--Zoho Campaigns Web-Optin Form's Header Code Ends Here--><!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="sfed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14" data-type="signupform">
	<div id="customForm">
		<input type="hidden" id="signupFormType" value="QuickForm_Horizontal">
		<div class="quickFormHorizontal quick_form_9_css" style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); border: 1px solid rgb(255, 255, 255); overflow: hidden; margin: 0px auto; padding: 0px; bottom: 2px; width: 350px; font-size: 11px; font-family: Arial; text-align: center;" name="SIGNUP_BODY" id="SIGNUP_BODY">
			<div style="color: rgb(136, 136, 136); background-color: rgb(255, 255, 255); padding-left: 10px; padding-top: 10px; padding-right: 10px; font-weight: bold; font-size: 14px; font-family: Arial; border-width: 1px; border-color: rgb(67, 67, 67); border-style: none; text-align: left;" id="SIGNUP_HEADING" name="SIGNUP_HEADING" changeid="SIGNUP_MSG" changetype="SIGNUP_HEADER">Join Our Newsletter</div>
			<div style="position:relative;">
				<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tbody>
							<tr>
								<td width="10%">
									<img class="successicon" src="https://zpub.maillist-manage.com/images/challangeiconenable.jpg" align="absmiddle">
								</td>
								<td>
									<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<form method="POST" id="zcampaignOptinForm" style="margin:0px;" action="https://zpub.maillist-manage.com/weboptin.zc" target="_zcSignup">
				<div style="display:none;background-color:#FFEBE8;padding:10px 10px; color:#d20000; font-size:11px; margin:10px;border:solid 1px #ffd9d3; margin-top:20px;" id="errorMsgDiv">&nbsp;&nbsp;Please correct the marked field(s) below.</div>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="left" valign="top">
								<div style=" padding-right:10px;padding-bottom:10px;padding-left:10px;">
									<span>
										<span>
											<input savetype="EMBED_FORM_EMAIL_LABEL" changetype="CONTACT_EMAIL" name="CONTACT_EMAIL" changeitem="SIGNUP_FORM_FIELD" type="text" id="CONTACT_EMAIL" style="color: rgb(85, 85, 85); width: 60%; background-color: rgb(255, 255, 255); border: 1px solid rgb(235, 235, 235); padding: 7px; vertical-align: middle; font-size: 12px; line-height: 20px; box-sizing: border-box; margin-right: -4px; border-radius: 4px 0px 0px 4px; text-indent: 5px; height: 32px; text-align: center;" placeholder="Email">
											<span style="display:none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
										</span>
									</span>
									<span style="padding-left:0px; padding-right:0px;padding-bottom:10px;">
										<input name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" type="button" style="-webkit-appearance: none; background-color: rgb(255, 121, 68); color: rgb(255, 255, 255); cursor: pointer; outline: 0px; margin: 0px; border: 1px solid rgb(255, 121, 68); font-family: Arial, Helvetica, sans-serif; vertical-align: middle; font-size: 12px; line-height: 34px; box-sizing: border-box; border-radius: 0px 4px 4px 0px; height: 32px; padding: 0px 12px;" value="Join Now">
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table><!-- Do not edit the below Zoho Campaigns hidden tags -->
				<input type="hidden" id="fieldBorder" value="rgb(235, 235, 235)">
				<input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW" onload="">
				<input type="hidden" id="submitType" name="submitType" value="optinCustomView">
				<input type="hidden" id="lD" name="lD" value="1744016754ef18d6">
				<input type="hidden" name="emailReportId" id="emailReportId" value="">
				<input type="hidden" id="formType" name="formType" value="QuickForm">
				<input type="hidden" name="zx" id="cmpZuid" value="128d191b0">
				<input type="hidden" name="zcvers" value="3.0">
				<input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
				<input type="hidden" id="mode" name="mode" value="OptinCreateView">
				<input type="hidden" id="zcld" name="zcld" value="1744016754ef18d6">
				<input type="hidden" id="document_domain" value="campaigns.zoho.com">
				<input type="hidden" id="zc_Url" value="zpub.maillist-manage.com">
				<input type="hidden" id="new_optin_response_in" value="0">
				<input type="hidden" id="duplicate_optin_response_in" value="0">
				<input type="hidden" id="zc_formIx" name="zc_formIx" value="ed3a3ac6d275bc63fac556cf735c4cbeeec82fe05853dc14"><!-- End of the campaigns hidden tags --></form>
		</div>
		<img src="https://zpub.maillist-manage.com/images/spacer.gif" id="refImage" onload="referenceSetter(this)" style="display:none;">
	</div>
</div>
<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
		<img src="https://zpub.maillist-manage.com/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->
</div>
<div class="col-xs-12 col-md-4" style="padding-top: 10px;">
    <center>(c) ARODBIEDRĪBA IT GUILD 2019. Reg.Nr. 40008284811.</center><p>
      <center>Developed on django/python tech.</center>
    </div>
    <div class="col-xs-12 col-md-4"></div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
