<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>IT Guild Team</title>
  <meta name="description" content="IT Guild Manifesto">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  {% extends 'base.html' %}
  {% block content %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">IT GUILD TEAM</h1>
      <p class="itg-title2 lead text-muted">Total guild members: 58
      </p>
      <hr>
      <p class="itg-title2 lead text-muted">IT Guild Board:
      </p>
    </div>
  </section>

  <div class="row">
    <div class="col-sm-4 text-center">
      <img src="http://techriga.lv/img/photos/antons-starostins-.jpg" width="300"></img><br/>
      <i>Anton Starostin</i><br>
      <i>IT Guild Chairman</i>
    </div>
    <div class="col-sm-4 text-center">
      <img src="http://techriga.lv/img/photos/viktor-urvacovs-.jpg" width="300"></img><br/>
      <i>Viktor Urvachov</i><br>
      <i>IT Guild Board member</i>
    </div>
    <div class="col-sm-4 text-center">
      <img src="http://techriga.lv/img/photos/aleksey-vesyoliy-.jpg" width="300"></img><br/>
      <i>Aleksey Vesyoliy</i><br>
      <i>IT Guild Board member</i>
    </div>
  </div>


  {% endblock %}
  <script src="js/scripts.js"></script>
</body>
</html>
